.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 20rem;
}

.first-circle {
    display: flex;
    width: 15rem;
    height: 15rem;
    background: #0c950c;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: bold;
}

.second-circle {
    display: flex;
    width: 15rem;
    height: 15rem;
    background: #f03b3b;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: bold;
}

.increment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.button-container {
    display: flex;
    gap: 2rem;
}

.increase-button {
    background-color: #bbe431;
    text-color: black;
    box-shadow: 4px 4px 3px black;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}

.decrease-button {
    background-color: #df6325;
    text-color: black;
    box-shadow: 4px 4px 3px black;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}

.reset-button {
    background-color: #29dfcf;
    text-color: black;
    box-shadow: 4px 4px 3px black;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}

.potter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 5rem;
}

.images-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.character-container {
    background-color: #f1f3f3;
    width: 50rem;
    display: flex;
    flex-direction: row;
    height: 18.8rem;
}

.image {
    padding-right: 2rem;
}

.students-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    gap: 1rem;
    background-color: #47e5ed;
    padding-bottom: 36.5rem;
    overflow: hidden;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: #0c2e67;
    padding: 0.8rem;
    border-radius: 10px;
    width: 30.4rem;
}

.input-number-size {
    width: 4rem;
    border-radius: 5px;
}

.input-text-size {
    width: 12.5rem;
    border-radius: 5px;
}

.add-button {
    width: 4rem;
    color: #4f7dcb;
    border-radius: 5px;
    font-weight: bold;
    height: 1.8rem;
    cursor: pointer;
}

.table-container {
    background-color: white;
    width: 30rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr auto;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
}
.name-row .age-row .country-row .delete-button {
    justify-self: start;
}

.name-row-head {
    padding-left: 1rem;
}

.age-row-head {
    padding-left: 7rem;
}

.country-row-head {
    padding-left: 3rem;
}

.action-row-head {
    padding-left: 4.5rem;
    padding-right: 1rem;
}

.table-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.table-header {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.8rem;
}

.delete-button {
    width: 4rem;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    height: 1.8rem;
    border: none;
    background-color: #0c2e67;
    cursor: pointer;
}

.table-row {
    padding: 0.8rem;
}