.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 20rem;
}

.first-circle {
    display: flex;
    width: 15rem;
    height: 15rem;
    background: #0c950c;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    color: white;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: bold;
}

.second-circle {
    display: flex;
    width: 15rem;
    height: 15rem;
    background: #f03b3b;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    color: white;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: bold;
}

.increment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.button-container {
    display: flex;
    gap: 2rem;
}

.increase-button {
    background-color: #bbe431;
    text-color: black;
    box-shadow: 4px 4px 3px black;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}

.decrease-button {
    background-color: #df6325;
    text-color: black;
    box-shadow: 4px 4px 3px black;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}

.reset-button {
    background-color: #29dfcf;
    text-color: black;
    box-shadow: 4px 4px 3px black;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}

.potter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 5rem;
}

.images-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.character-container {
    background-color: #f1f3f3;
    width: 50rem;
    display: flex;
    flex-direction: row;
    height: 18.8rem;
}

.image {
    padding-right: 2rem;
}